*.exe
*.fsh
*.vsh
*.ogg
*.svg
*.log

# Mods
#*.dll
#*.png
#*.pdb

assets
assets/
assets/*

*.hold
*.hold/
*.hold/*

Lib*
Lib*/
Lib*/*

Cache
Cache/
Cache/*

Logs
Logs/
Logs/*

*.zip
*.7z
*.zzz

# Add Saves via git add SAVENAME.vcdbs -f
*.vcdbs
*.vcdbs*
*.vcdbs.*
*.db-*
Maps/*.db-*

VintagestoryData/Logs/client-*.txt
VintagestoryData/Logs/server-*.txt
